<main role="main" class="container">
  <app-top-menu-bar></app-top-menu-bar>
  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>
        <strong>{{ settings?.moduleName }}</strong>
      </mat-card-title>
      <mat-card-subtitle>System Settings</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="pl-5">
      <form (submit)="updateSettings()" class="form">
        <div class="row">
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Lab Code/ID</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.labID"
                name="labID"
                placeholder="Lab Code/ID"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Lab Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.labName"
                name="labName"
                placeholder="Lab Name"
                required
                matInput
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Analyzer/Machine Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.analyzerMachineName"
                name="analyzerMachineName"
                placeholder="eg. Roche Cobas48"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Interface Communication Protocol</mat-label>
              <mat-select [(value)]="settings.interfaceCommunicationProtocol">
                <mat-option
                  (click)="
                    settings.interfaceCommunicationProtocol = protocol.id
                  "
                  *ngFor="let protocol of protocols"
                  [value]="protocol.id"
                  >{{ protocol.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Analyzer/Machine Port No.</mat-label>
              <input
                type="number"
                [(ngModel)]="settings.analyzerMachinePort"
                name="analyzerMachinePort"
                placeholder="eg. 3120"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Analyzer/Machine IP Address</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.analyzerMachineHost"
                name="analyzerMachineHost"
                placeholder="eg. 198.1.1.1"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>This Interface Tool is a</mat-label>
              <mat-select [(value)]="settings.interfaceConnectionMode">
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let tool of toolType"
                  [value]="tool.id"
                  (click)="settings.interfaceConnectionMode = tool.id"
                  >{{ tool.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Attempt autoconnect?</mat-label>
              <mat-select [(value)]="settings.interfaceAutoConnect">
                <mat-option
                  *ngFor="let auto of autoconnect"
                  [value]="auto.id"
                  (click)="settings.interfaceAutoConnect = auto.id"
                  >{{ auto.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Module Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.moduleName"
                name="moduleName"
                placeholder="Module Name"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Authorization Count</mat-label>
              <input
                type="number"
                [(ngModel)]="settings.authorizationCount"
                name="authorizationCount"
                matInput
                min="0"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="w-50 text-muted">
            <!-- <span>{{appPath}}</span> -->
            <mat-form-field
              aria-disabled="true"
              class="w-100"
              appearance="outline"
            >
              <mat-label>SQLite DB Path</mat-label>
              <input
                type="text"
                [(ngModel)]="appPath"
                name="appPath"
                readonly
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50"></div>
        </div>

        <hr />
        <div>
          <mat-checkbox
            [(ngModel)]="settings.hasExternalDB"
            [ngModelOptions]="{ standalone: true }"
            color="accent"
            (change)="addDatabase($event.checked)"
          >
            {{
              settings?.hasExternalDB ? "External DB Added" : "Add External DB?"
            }}
          </mat-checkbox>
        </div>
        <hr />
        <div *ngIf="settings?.hasExternalDB" class="row">
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Host</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.dbHost"
                name="dbHost"
                placeholder="e.g 127.0.0.1"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Port</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.dbPort"
                name="dbPort"
                placeholder="e.g 5432"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.dbName"
                name="dbName"
                placeholder="Database Name"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>User</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.dbUser"
                name="dbUser"
                placeholder="Database User"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.dbPassword"
                name="dbPassword"
                placeholder="Database Password"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="form-group col col-sm-6">
            <label for="" class="col-form-label-sm">&nbsp;&nbsp;</label><br />
            <button
              (click)="checDBConnection()"
              class="btn btn-dark btn-sm"
              type="button"
            >
              Check DB Connection
            </button>
          </div>
        </div>
        <hr />

        <div>
          <mat-checkbox
            [(ngModel)]="settings.hasExternalLogin"
            [ngModelOptions]="{ standalone: true }"
            color="accent"
            (change)="hasExternalLogin($event.checked)"
          >
            {{
              settings?.hasExternalLogin
                ? "External Login Added"
                : "Add External Login?"
            }}
          </mat-checkbox>
        </div>
        <hr />
        <div *ngIf="settings?.hasExternalLogin" class="row">
          <div class="d-flex justify-content-between">
            <div class="w-50">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>External Login URL</mat-label>
                <input
                  type="text"
                  [(ngModel)]="settings.externalLoginUrl"
                  name="externalLoginUrl"
                  placeholder="Enter External Login URL"
                  required
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="w-25"></div>
            <div class="w-50">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Function</mat-label>
                <mat-select [(value)]="settings.functionId">
                  <mat-option>None</mat-option>
                  <mat-option
                    (click)="settings.functionId = function.id"
                    *ngFor="let function of functions"
                    [value]="function.id"
                    >{{ function.display }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="w-50">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Method</mat-label>
                <mat-select [(value)]="settings.httpMethod">
                  <mat-option>None</mat-option>
                  <mat-option
                    (click)="settings.httpMethod = method"
                    *ngFor="let method of methods"
                    [value]="method"
                    >{{ method }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="w-25"></div>
            <div class="w-50">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Authentication</mat-label>
                <mat-select [(value)]="settings.authType">
                  <mat-option>None</mat-option>
                  <mat-option
                    (click)="settings.authType = authType"
                    *ngFor="let authType of authTypes"
                    [value]="authType"
                    >{{ authType }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div class="w-50">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>System Name</mat-label>
                <input
                  type="text"
                  [(ngModel)]="settings.systemName"
                  name="systemName"
                  placeholder="Enter System Name"
                  required
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="w-25"></div>
            <div class="w-50">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>System Identifier</mat-label>
                <input
                  type="text"
                  [(ngModel)]="settings.identifier"
                  name="identifier"
                  placeholder="Enter Identifier Name (Username/Email)"
                  required
                  matInput
                />
              </mat-form-field>
            </div>
          </div>

          <div class="form-group col col-sm-6">
            <label for="" class="col-form-label-sm">&nbsp;&nbsp;</label><br />
            <button (click)="ping()" class="btn btn-dark btn-sm" type="button">
              Test Login
            </button>
          </div>
        </div>
        <hr />

        <button mat-flat-button color="primary" type="submit">
          Save Settings
        </button>
        &nbsp;
        <button
          color="warn"
          mat-flat-button
          [disabled]="isNew"
          routerLink="/dashboard"
          type="button"
        >
          <span>Back Without Saving</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
