<main role="main" class="container">
  <app-top-menu-bar></app-top-menu-bar>
  <mat-card class="mt-4">
    <mat-card-header>
      <mat-card-title>
        <strong>{{ settings?.moduleName }}</strong>
      </mat-card-title>
      <mat-card-subtitle>System Settings</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="pl-5">
      <form (submit)="updateSettings()" class="form">
        <div class="row">
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Lab Code/ID</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.labID"
                name="labID"
                placeholder="Lab Code/ID"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Lab Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.labName"
                name="labName"
                placeholder="Lab Name"
                required
                matInput
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Analyzer/Machine Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.analyzerMachineName"
                name="analyzerMachineName"
                placeholder="eg. Roche Cobas48"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Interface Communication Protocol</mat-label>
              <mat-select [(value)]="settings.interfaceCommunicationProtocol">
                <mat-option
                  (click)="
                    settings.interfaceCommunicationProtocol = protocol.id
                  "
                  *ngFor="let protocol of protocols"
                  [value]="protocol.id"
                  >{{ protocol.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Analyzer/Machine Port No.</mat-label>
              <input
                type="number"
                [(ngModel)]="settings.analyzerMachinePort"
                name="analyzerMachinePort"
                placeholder="eg. 3120"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Analyzer/Machine IP Address</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.analyzerMachineHost"
                name="analyzerMachineHost"
                placeholder="eg. 198.1.1.1"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>This Interface Tool is a</mat-label>
              <mat-select [(value)]="settings.interfaceConnectionMode">
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let tool of toolType"
                  [value]="tool.id"
                  (click)="settings.interfaceConnectionMode = tool.id"
                  >{{ tool.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Attempt autoconnect?</mat-label>
              <mat-select [(value)]="settings.interfaceAutoConnect">
                <mat-option
                  *ngFor="let auto of autoconnect"
                  [value]="auto.id"
                  (click)="settings.interfaceAutoConnect = auto.id"
                  >{{ auto.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Module Name</mat-label>
              <input
                type="text"
                [(ngModel)]="settings.moduleName"
                name="moduleName"
                placeholder="Module Name"
                required
                matInput
              />
            </mat-form-field>
          </div>

          <div class="w-50">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Authorization Count</mat-label>
              <input
                type="number"
                [(ngModel)]="settings.authorizationCount"
                name="authorizationCount"
                matInput
                min="0"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="w-50 text-muted">
            <!-- <span>{{appPath}}</span> -->
            <mat-form-field
              aria-disabled="true"
              class="w-100"
              appearance="outline"
            >
              <mat-label>SQLite DB Path</mat-label>
              <input
                type="text"
                [(ngModel)]="appPath"
                name="appPath"
                readonly
                matInput
              />
            </mat-form-field>
          </div>

          <div
            class="w-50"
            *ngIf="settings.interfaceCommunicationProtocol !== 'serial'"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Default Function</mat-label>
              <mat-select [(value)]="settings.functionId">
                <mat-option
                  *ngFor="let function of functions"
                  [value]="function.id"
                  (click)="settings.functionId = function.id"
                  >{{ function.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <hr />

        <button mat-flat-button color="primary" type="submit">
          Save Settings
        </button>
        &nbsp;
        <button
          color="warn"
          mat-flat-button
          [disabled]="isNew"
          routerLink="/dashboard"
          type="button"
        >
          <span>Back Without Saving</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
