<!--
 Copyright 2023 UDSM DHIS2 Lab All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<h1 mat-dialog-title>{{ dialogData.name }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Select Secret</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option
        (click)="secret_id = secret.id"
        *ngFor="let secret of secrets"
        [value]="secret.id"
        >{{ secret.display }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button
    [disabled]="saving || !secret_id"
    [style.background-color]="saving || !secret_id ? 'white' : '#3F50B5'"
    [style.color]="saving || !secret_id ? 'black' : 'white'"
    mat-raised-button
    (click)="onSave()"
  >
    Save
  </button>
</div>
