<div class="container center mt-50">
  <app-top-menu-bar></app-top-menu-bar>
  <div class="row">
    <div class="col-md-7">
      <div class="h3">Privileges</div>
      <table class="table">
        <thead>
          <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let privilege of privileges; let count = index">
            <td>
              {{ count + 1 }}
            </td>
            <td>
              {{ privilege?.name }}
            </td>
            <td>
              {{ privilege?.description }}
            </td>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
