<!--
 Copyright 2023 UDSM DHIS2 Lab All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<div class="container">
  <app-top-menu-bar></app-top-menu-bar>
  <div class="h4">{{ mappingId ? "Edit" : "New" }} mapping</div>
  <div class="w-100" style="margin-top: 12px">
    <app-form
      *ngIf="testOrderField"
      [fields]="[testOrderField]"
      (formUpdate)="onFormUpdate($event)"
    ></app-form>
    <div
      class="w-100 mt-2"
      *ngIf="selectedTestOrder?.uuid || (renderMappingForm && mappingId)"
    >
      <app-form
        [fields]="[machineTestOrderField]"
        (formUpdate)="getMachineTestValue($event)"
      ></app-form>
      <app-mapping-form
        [testOrder]="selectedTestOrder"
        (testParametersMapping)="onGetTestParametersMapping($event)"
      ></app-mapping-form>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'" style="margin-top: 4px">
    <button mat-stroked-button cdkFocusInitial (click)="onCancel()">
      Cancel
    </button>
    <button
      style="margin-left: 8px"
      [disabled]="!validResults"
      color="primary"
      mat-flat-button
      (click)="onSave()"
    >
      <mat-icon>save</mat-icon>
      <span> Save </span>
    </button>
  </div>
</div>
