<div class="container">
  <app-top-menu-bar></app-top-menu-bar>
  <app-form
    *ngIf="testOrderField"
    [fields]="[testOrderField]"
    (formUpdate)="onFormUpdate($event)"
  ></app-form>
  <div class="w-100 mt-2" *ngIf="selectedTestOrder">
    <app-form
      [fields]="[machineTestOrderField]"
      (formUpdate)="getMachineTestValue($event)"
    ></app-form>
    <app-mapping-form
      [testOrder]="selectedTestOrder"
      (testParametersMapping)="onGetTestParametersMapping($event)"
    ></app-mapping-form>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-flat-button cdkFocusInitial>Cancel</button>
    <button
      [disabled]="!validResults"
      color="primary"
      mat-flat-button
      (click)="onSave()"
    >
      <mat-icon>save</mat-icon>
      <span> Save </span>
    </button>
  </div>
</div>
