// Copyright 2023 UDSM DHIS2 Lab All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

.form-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hidden-field {
  display: none;
}

.units-and-ranges span {
  font-size: 0.7rem;
}

.for-warning {
  margin-left: 8px;
}
