.test-order {
  background-color: #eee;
  font-weight: 500;
  width: 200px;
}

.parameter {
  background-color: #eee;
  font-weight: 500;
  width: 120px;
}

.answer {
  background-color: #eee;
  font-weight: 500;
  width: 80px;
}
