// Copyright 2023 UDSM DHIS2 Lab All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

.test-order {
  background-color: #eee;
  font-weight: 500;
  width: 200px;
}

.parameter {
  background-color: #eee;
  font-weight: 500;
  width: 120px;
}

.answer {
  background-color: #eee;
  font-weight: 500;
  width: 80px;
}
