<!--
 Copyright 2023 UDSM DHIS2 Lab All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<div class="p-5 center mt-50">
  <app-top-menu-bar></app-top-menu-bar>
  <h1 class="text-center">
    <mat-icon style="font-size: xx-large; font-weight: bolder">
      functions</mat-icon
    >
  </h1>
  <div *ngIf="fxRunning">
    <app-logs [liveLogText]="liveLogText"></app-logs>
  </div>
  <div class="d-flex justify-content-end mb-2">
    <button
      mat-raised-button
      style="margin-right: 10px !important"
      class="btn-primary p-1 d-inline-flex justify-content-center align-items-center"
      (click)="secrets()"
    >
      <!-- <mat-icon>add</mat-icon> -->
      <span> Secrets </span>
    </button>

    <button
      mat-raised-button
      class="btn-primary p-1 d-inline-flex justify-content-center align-items-center"
      (click)="newFunction()"
    >
      <mat-icon>add</mat-icon>
      <span> New Function </span>
    </button>
  </div>

  <table mat-table [dataSource]="processes" class="mat-elevation-z2 table">
    <ng-container class="text-center" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="func_code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let element">{{ element.func_code }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Frequency</th>
      <td mat-cell *matCellDef="let element">{{ element.frequency }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" lastButton>
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="cursor: pointer"
        matRipple
        [matMenuTriggerFor]="appMenu"
      >
        <mat-icon>more_vert</mat-icon>
        <mat-menu #appMenu="matMenu">
          <div role="menu" class="extended-menu-container">
            <div
              class="menu-more-option mat-typography"
              (click)="onEdit(element)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label" color="#757575"
                      >edit</span
                    >
                    <div class="edit">Edit</div>
                  </div>
                </div>
              </span>
            </div>
            <div
              class="menu-more-option mat-typography"
              (click)="
                element.running ? $event.stopPropagation() : onDelete(element)
              "
              [ngClass]="{
                'cursor-pointer': !element.running,
                'cursor-disabled': element.running,
                'text-muted': element.running
              }"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div
                  [ngClass]="{
                    'cursor-pointer': !element.running,
                    'cursor-disabled': element.running,
                    'text-muted': element.running
                  }"
                >
                  <div
                    [ngClass]="{
                      'cursor-pointer': !element.running,
                      'cursor-disabled': element.running,
                      'text-muted': element.running
                    }"
                    class="extended-menu-option-div"
                  >
                    <span
                      [ngClass]="{ 'text-muted': element.running }"
                      class="material-icons menu-label text-danger"
                      color="#da1f05"
                      >delete</span
                    >
                    <div class="edit">Delete</div>
                  </div>
                </div>
              </span>
            </div>

            <div
              [ngClass]="{
                'cursor-pointer': !element.running,
                'cursor-disabled': element.running
              }"
              class="menu-more-option mat-typography"
              (click)="
                element.running ? $event.stopPropagation() : onRun(element)
              "
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div
                  [ngClass]="{
                    'cursor-pointer': !element.running,
                    'cursor-disabled': element.running
                  }"
                >
                  <div class="extended-menu-option-div">
                    <span
                      [ngClass]="{
                        'fa-spin': element.running,
                        'text-muted': element.running
                      }"
                      class="material-icons menu-label-stop"
                      color="#757575"
                      >loop</span
                    >
                    <div
                      [ngClass]="{ 'text-muted': element.running }"
                      class="edit"
                    >
                      {{ element.running ? "Running" : "Run" }}
                    </div>
                  </div>
                </div>
              </span>
            </div>

            <div
              [ngClass]="{ 'text-muted': element.running }"
              (click)="
                element.running ? onCancel(element) : $event.stopPropagation()
              "
              class="menu-more-option mat-typography"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
                [ngClass]="{ 'text-muted': !element.running }"
              >
                <div
                  [ngClass]="{
                    'cursor-disabled': !element.running,
                    'cursor-pointer': element.running
                  }"
                >
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label-stop" color="#da1f05"
                      >cancel</span
                    >
                    <div class="edit">Cancel</div>
                  </div>
                </div>
              </span>
            </div>

            <div
              class="menu-more-option mat-typography"
              (click)="addOrChangeSecret(element)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label-stop" color="#757575"
                      >add</span
                    >
                    <div class="edit">
                      {{ element.secret_id ? "Change" : "Add" }} Secret
                    </div>
                  </div>
                </div>
              </span>
            </div>

            <div
              class="menu-more-option mat-typography"
              (click)="scheduleCron(element, true)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label-stop" color="#757575"
                      >schedule</span
                    >
                    <div class="edit">
                      {{ element.frequency ? "Reschedule" : "Schedule" }}
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="sticky-paginator">
    <mat-paginator
      #paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      aria-label="Select page"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
