<div class="container center mt-50">
  <div class="sticky-header">
    <div class="d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        [style.width]="'120px'"
        class="btn-primary p-1 d-inline-flex justify-content-center align-items-center"
        (click)="navigateToDashboard()"
      >
        <mat-icon>dashboard</mat-icon>
        <span> Dashbaord </span>
      </button>
    </div>
    <h1 class="text-center">
      <mat-icon style="font-size: xx-large; font-weight: bolder">
        functions</mat-icon
      >
    </h1>
  </div>
  <div *ngIf="createNewFunction" class="d-flex justify-content-between">
    <div class="pr-5 w-45">
      <h1>Secrets</h1>
      <form class="example-form" [formGroup]="secretForm">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Secret Name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Secret Name"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Secret Description</mat-label>
          <input
            type="text"
            matInput
            placeholder="Secret Description"
            formControlName="description"
          />
        </mat-form-field>
        <div
          *ngFor="let group of secrets.controls; let i = index"
          formArrayName="secretValue"
        >
          <div class="form-group jumbotron" [formGroupName]="i">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Secret Key</mat-label>
              <input
                type="text"
                matInput
                placeholder="Secret Key"
                formControlName="key"
              />
            </mat-form-field>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Secret Value</mat-label>
              <input
                type="text"
                matInput
                placeholder="Secret Value"
                formControlName="value"
              />
            </mat-form-field>

            <button
              matTooltip="Delete Above Fields"
              matTooltipHideDelay="1000"
              mat-flat-button
              *ngIf="i > 0"
              class="float-end mb-3"
              (click)="removeAddress(i)"
            >
              <mat-icon class="text-danger">delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="d-flex">
          <div class="mr-5">
            <button
              [disabled]="!validateSecret"
              mat-flat-button
              color="primary"
              (click)="onSaveSecrets()"
              class="btn btn-success ml-5"
            >
              Save Secret
            </button>
          </div>

          <div class="ml-5">
            <button mat-flat-button (click)="addSecretFields()">
              <mat-icon>add</mat-icon> Add Fields
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="column w-45">
      <form [formGroup]="formGroup" class="text-center w-100">
        <h1>Functions</h1>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Function Name</mat-label>
          <input
            formControlName="name"
            type="text"
            matInput
            placeholder="Function Name"
          />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Function Description</mat-label>
          <input
            formControlName="description"
            type="text"
            matInput
            placeholder="Function Description"
          />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Function Run Interval</mat-label>
          <input
            formControlName="frequency"
            type="text"
            matInput
            placeholder="Function Run Interval"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Secret</mat-label>
          <mat-select formControlName="secret_id">
            <mat-option>None</mat-option>
            <mat-option
              *ngFor="let secret of loadedSecrets"
              [value]="secret.id"
              >{{ secret.display }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </form>

      <div class="mb-5 text-center d-flex justify-content-between">
        <div>
          <input
            accept="text/javascript"
            class="form-control"
            type="file"
            (change)="onChange($event)"
          />
        </div>
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="onSave()"
            [disabled]="
              !selectedFx &&
              (!file ||
                !getValue('name') ||
                getValue('name') == '' ||
                !getValue('description') ||
                getValue('description') == '')
            "
            class="btn btn-success"
          >
            Save Function
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="fxRunning">
    <app-logs [liveLogText]="liveLogText"></app-logs>
  </div>
  <div *ngIf="!createNewFunction" class="d-flex justify-content-end mb-2">
    <button
      mat-raised-button
      class="btn-primary p-1 d-inline-flex justify-content-center align-items-center"
      (click)="newFunction()"
    >
      <mat-icon>add</mat-icon>
      <span> New Function </span>
    </button>
  </div>
  <table mat-table [dataSource]="processes" class="mat-elevation-z2 table">
    <!-- Name Column -->
    <ng-container class="text-center" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Frequency Column -->
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Frequency</th>
      <td mat-cell *matCellDef="let element">{{ element.frequency }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" lastButton>
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="cursor: pointer"
        matRipple
        [matMenuTriggerFor]="appMenu"
      >
        <mat-icon>more_vert</mat-icon>
        <mat-menu #appMenu="matMenu">
          <div role="menu" class="extended-menu-container">
            <div
              class="menu-more-option mat-typography"
              (click)="onEdit(element)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label" color="#757575"
                      >edit</span
                    >
                    <div class="edit">Edit</div>
                  </div>
                </div>
              </span>
            </div>
            <div
              class="menu-more-option mat-typography"
              (click)="onDelete(element)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span
                      class="material-icons menu-label text-danger"
                      color="#da1f05"
                      >delete</span
                    >
                    <div class="edit">Delete</div>
                  </div>
                </div>
              </span>
            </div>

            <div
              class="menu-more-option mat-typography"
              (click)="onRun(element)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label-stop" color="#757575"
                      >loop</span
                    >
                    <div class="edit">Run</div>
                  </div>
                </div>
              </span>
            </div>

            <div class="menu-more-option mat-typography">
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label-stop" color="#757575"
                      >cancel</span
                    >
                    <div class="edit">Cancel</div>
                  </div>
                </div>
              </span>
            </div>

            <div
              class="menu-more-option mat-typography"
              (click)="addOrChangeSecret(element)"
            >
              <span
                matRipple
                role="menuitem"
                tabindex="0"
                class="extended-menu-option"
              >
                <div>
                  <div class="extended-menu-option-div">
                    <span class="material-icons menu-label-stop" color="#757575"
                      >add</span
                    >
                    <div class="edit">
                      {{ element.secret_id ? "Change" : "Add" }} Secret
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="sticky-paginator">
    <mat-paginator
      #paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)"
      aria-label="Select page"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
