<div class="container center mt-50">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="navigateToDashboard()">
      Dashboard
    </button>
  </div>
  <h1 class="text-center">Welcome to custom functions setup</h1>
  <div class="text-center d-flex justify-content-between row w-50">
    <input
      matInput
      (change)="onInputChange($event, 'name')"
      placeholder="name"
      class="form-control"
    />
    <input
      (change)="onInputChange($event, 'description')"
      placeholder="description"
      class="form-control"
    />
    <div class="text-center d-flex justify-content-between"></div>
    <input
      (change)="onInputChange($event, 'frequency')"
      placeholder="Run frequency"
      class="form-control"
    />
  </div>
  <div class="text-center d-flex justify-content-between">
    <div>
      <input class="form-control" type="file" (change)="onChange($event)" />
    </div>
    <div>
      <button
        (click)="onUpload()"
        [disabled]="!file || !name || !description || !frequency"
        class="btn btn-success"
      >
        Save
      </button>
    </div>
    <h1 *ngIf="processes.length > 0">{{ processes.length }}</h1>
  </div>

  <table mat-table [dataSource]="processes" class="mat-elevation-z2 table">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.frequency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
