<div class="d-flex justify-content-end">
  <button mat-flat-button (click)="isFunction = !isFunction">
    {{ isFunction ? "Create Secrets" : "Create Function" }}
  </button>
</div>

<div class="d-flex justify-content-between">
  <div *ngIf="!isFunction" class="pr-5 w-100">
    <h3>Secrets</h3>
    <mat-tab-group class="group">
      <mat-tab class="group" label="New">
        <ng-template matTabContent>
          <div style="max-height: 60vh; overflow: auto">
            <form class="example-form" [formGroup]="secretForm">
              <div class="form-group row">
                <mat-form-field class="w-50" appearance="outline">
                  <mat-label>Secret Name</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Secret Name"
                    formControlName="name"
                  />
                </mat-form-field>
                <mat-form-field class="w-50" appearance="outline">
                  <mat-label>Secret Description</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Secret Description"
                    formControlName="description"
                  />
                </mat-form-field>
              </div>
              <div
                *ngFor="let group of secrets.controls; let i = index"
                formArrayName="secretValue"
              >
                <div class="form-group row" [formGroupName]="i">
                  <mat-form-field class="w-50" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Secret Name"
                      formControlName="key"
                    />
                  </mat-form-field>

                  <mat-form-field class="w-50" appearance="outline">
                    <mat-label>Value</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Secret Value"
                      formControlName="value"
                    />
                  </mat-form-field>

                  <div>
                    <button
                      matTooltip="Delete Above Fields"
                      matTooltipHideDelay="1000"
                      mat-flat-button
                      *ngIf="i > 0"
                      class="float-end mb-3"
                      (click)="removePair(i)"
                    >
                      <mat-icon class="text-danger">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="ml-5">
                  <button mat-flat-button (click)="addSecretFields()">
                    <mat-icon>add</mat-icon> Add Fields
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="List">
        <ng-template matTabContent>
          <table class="table">
            <thead>
              <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let secret of loadedSecrets; let count = index">
                <td>
                  {{ count + 1 }}
                </td>
                <td>
                  {{ secret?.name }}
                </td>
                <td>
                  {{ secret?.description }}
                </td>
                <td>
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Secret actions"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="onEditSecret($event, secret)"
                    >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>

                    <button
                      mat-menu-item
                      (click)="onDeleteSecret($event, secret)"
                    >
                      <mat-icon class="text-danger">delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="isFunction" class="column w-100">
    <form [formGroup]="formGroup" class="text-center w-100">
      <h3>Functions</h3>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Function Name</mat-label>
        <input
          formControlName="name"
          type="text"
          matInput
          placeholder="Function Name"
        />
      </mat-form-field>
      <!-- <mat-form-field class="w-100" appearance="outline">
        <mat-label>Code</mat-label>
        <input
          formControlName="func_code"
          type="text"
          matInput
          placeholder="Code"
        />
      </mat-form-field> -->
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Function Description</mat-label>
        <input
          formControlName="description"
          type="text"
          matInput
          placeholder="Function Description"
        />
      </mat-form-field>
      <mat-form-field
        (click)="scheduleCron(false)"
        class="w-100"
        appearance="outline"
      >
        <mat-label>Function Run Interval</mat-label>
        <input
          formControlName="frequency"
          type="text"
          [readonly]="true"
          matInput
          placeholder="Function Run Interval"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Secret</mat-label>
        <mat-select formControlName="secret_id">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let secret of loadedSecrets"
            [value]="secret.id"
            >{{ secret.display }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>

    <div class="mb-5 text-center d-flex justify-content-between">
      <div>
        <input
          accept="text/javascript"
          class="form-control"
          type="file"
          (change)="onChange($event)"
        />
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-flat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button *ngIf="editingSecret" mat-raised-button (click)="resetSecretForm()">
    New Secret
  </button>
  <button
    [disabled]="!validate"
    color="primary"
    mat-flat-button
    (click)="isFunction ? onSave() : onSaveSecrets()"
  >
    Save {{ isFunction ? "Function" : "Secret" }}
  </button>
</div>
