<!--
 Copyright 2023 UDSM DHIS2 Lab All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->

<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">
      {{ settings?.moduleName || "Machine Intefacing" }}
    </h1>
    <div (click)="openUrl()" style="cursor: pointer" class="text-center">
      <img src="assets/icons/logo.png" />
    </div>
    <div class="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{
          externalLoginCheck ? settings?.identifier : "Username"
        }}</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="user.login"
          name="login"
          [placeholder]="
            'Enter Your ' +
            (externalLoginCheck ? settings?.identifier : 'Username')
          "
        />
      </mat-form-field>
    </div>
    <div class="form-floating">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="user.password"
          name="password"
          placeholder="Enter Your Password"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide"
          >{{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
    </div>

    <button
      (click)="doLogin()"
      [disabled]="user.password === '' || user.login === '' || loggingIn"
      mat-flat-button
      class="w-100"
      [style.height]="'50px'"
      [style.background-color]="
        user.password === '' || user.login === '' || loggingIn
          ? '#dddddd'
          : '#0C6EFD'
      "
      [style.color]="
        user.password === '' || user.login === '' || loggingIn
          ? 'black'
          : '#FFFFFF'
      "
    >
      <mat-spinner
        color="primary"
        *ngIf="loggingIn"
        [diameter]="20"
        style="display: inline-block !important; margin-right: 4px"
      >
      </mat-spinner>
      {{ loggingIn ? "Logging in..." : "Login" }}
    </button>

    <blockquote *ngIf="externalLoginCheck" class="mt-2">
      You are about to login with {{ settings.systemName }}.
      <a
        (click)="externalLoginCheck = !externalLoginCheck; loggingIn = false"
        style="color: blue; text-decoration: underline; cursor: pointer"
        >Cancel</a
      >
    </blockquote>

    <br *ngIf="!externalLoginCheck" />

    <p
      *ngIf="settings?.hasExternalLogin && !externalLoginCheck"
      class="mt-3 text-center"
    >
      OR
    </p>

    <button
      *ngIf="settings?.hasExternalLogin && !externalLoginCheck"
      mat-flat-button
      class="w-100"
      [style.height]="'50px'"
      [style.background-color]="!externalLoginCheck ? '#0C6EFD' : ''"
      [style.color]="'#FFFFFF'"
      (click)="externalLoginCheck = !externalLoginCheck"
    >
      Login with {{ settings.systemName }}
    </button>
    <div class="d-flex justify-content-between">
      <div>
<p (click)="openUrl()" class="mt-5 mb-3 text-muted" style="cursor: pointer">
      &copy; UDSM DHIS2 Lab
    </p>
      </div>

      <div>
    <p class="mt-5 mb-3 text-muted ">
      v0.0.1
    </p>
      </div>
    </div>
  </form>
</main>
